/*FONTS------------------------*/

@font-face {
    font-family: "sans";
    font-style: normal;
    font-weight: normal;
    src: local("思源黑体 Normal");
}

@font-face {
    font-family: "sans";
    font-style: normal;
    font-weight: bold;
    src: local("思源黑体 Heavy");
}


@font-face {
    font-family: "serif";
    font-style: normal;
    font-weight: normal;
    src: local("思源宋体");
}

@font-face {
    font-family: "serif";
    font-style: normal;
    font-weight: bold;
    src: local("思源宋体 Heavy");
}

@font-face {
    font-family: "sans-n";
    font-style: normal;
    font-weight: normal;
    src: local("Open Sans Regular");
}

@font-face {
    font-family: "sans-n";
    font-style: normal;
    font-weight: bold;
    src: local("Open Sans Bold");
}

@font-face {
    font-family: "sans-n";
    font-style: italic;
    font-weight: normal;
    src: local("Open Sans Italic");
}


@font-face {
    font-family: "sans-n";
    font-style: italic;
    font-weight: bold;
    src: local("Open Sans Bold Italic");
}

@font-face {
    font-family: "serif-n";
    font-style: normal;
    font-weight: normal;
    src: local("Merriweather Regular");
}

@font-face {
    font-family: "serif-n";
    font-style: normal;
    font-weight: bold;
    src: local("Merriweather Bold");
}

@font-face {
    font-family: "serif-n";
    font-style: italic;
    font-weight: normal;
    src: local("Merriweather Italic");
}

@font-face {
    font-family: "serif-n";
    font-style: italic;
    font-weight: bold;
    src: local("Merriweather Bold Italic");
}

@font-face {
    font-family: "serif-h";
    font-style: normal;
    font-weight: normal;
    src: local("Merriweather Head");
}

@font-face {
    font-family: "serif-h";
    font-style: normal;
    font-weight: bold;
    src: local("Merriweather Head Bold");
}

@font-face {
    font-family: "serif-h";
    font-style: italic;
    font-weight: normal;
    src: local("Merriweather Head Italic");
}

@font-face {
    font-family: "serif-h";
    font-style: italic;
    font-weight: bold;
    src: local("Merriweather Head Bold Italic");
}


@font-face {
    font-family: "code";
    font-style: normal;
    font-weight: normal;
    src: local("Source Code Pro");
}

@font-face {
    font-family: "code";
    font-style: normal;
    font-weight: bold;
    src: local("Source Code Pro Italic");
}

@font-face {
    font-family: "code";
    font-style: italic;
    font-weight: normal;
    src: local("Source Code Pro Black");
}

@font-face {
    font-family: "code";
    font-style: italic;
    font-weight: bold;
    src: local("Source Code Pro Black Italic");
}

/*MAIN------------------------*/

body {
    font-family: "sans-n", "sans";
    color: #000000;
    line-height: 1.6;
}

a {
    color: #455a64;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #000000;
}

h1 {
    margin-top: 1rem;
    font-family: "serif-h", "serif";
    padding-top: 0.3em;
    font-size: 2.1em;
    border-top: 1.5px solid #37474F !important;
    border-bottom: none;
}

h2:before {
    content: "";
    display: block;
    margin: 1em auto 0.2em 0;
    width: 3rem;
    height: 0;
    border-bottom: 1rem solid #37474f;
}

h2 {
    margin-top: 0.6rem;
    font-family: "serif-h", "serif";
    font-size: 1.8em;
    border-bottom: none;
}

h3:before {
    content: "";
    display: block;
    margin: 1.74em auto -1.3em -1.5em;
    width: 1em;
    height: 0;
    border-bottom: 1em solid #37474f;
}

h3 {
    margin-top: 0.6rem;
    font-family: "sans-n", "sans";
    font-size: 1.4em;
    padding-left: 1.5em;
}

h4:before {
    content: "";
    display: block;
    margin: 1.74em auto -1.3em -1.5em;
    width: 1em;
    height: 0;
    border-bottom: 1em solid #607d8b;
}

h4 {
    margin-top: 0.6rem;
    font-family: "sans-n", "sans";
    font-size: 1.3em;
    padding-left: 1.5em;
}

h5 {
    margin-top: 0.6rem;
    font-size: 1.1em;
    border-bottom: none;
    color: #37474f;
}

h6 {
    margin-top: 0.6rem;
    font-size: 1.1em;
    border-bottom: none;
    color: #607d8b;
}

hr {
    height: 1.5px;
    padding: 0;
    margin: 16px 0;
    background-color: #b0bec5;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

blockquote:before {
    content: "“";
    font-family: "serif";
    font-weight: bold;
    font-size: 3.5em;
    color: #263238;
    display: block;
    margin: -2rem auto -1rem -2.9rem;
    width: 1em;
    height: 1em;
}

blockquote {
    font-family: "serif-n", "serif";
    font-size: 1.2em;
    padding: 1rem;
    color: #263238;
    background-color: #00000000;
    border: 0 none;
}

blockquote blockquote {
    padding-right: 0;
}

mark {
    background-color: #fff59d;
}

table tr {
    border-top: 0.6px solid #37474F;
    margin: 0;
    padding: 0;
}

table tr:last-child {
    border-bottom: 0.6px solid #37474F;
}

table th,
table td {
    font-weight: normal;
    padding: 6px 13px;
}

table tr:nth-child(2n),
thead {
    background-color: #eceff1;
}

code,
tt {
    font-family: "code";
    background-color: #f8f8f8;
    border: none;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.5rem 0;
}

li>ol,
li>ul {
    margin: 0;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: none;
    box-sizing: content-box;
}

/*SMALL------------------------*/

small {
    display: block;
    font-size: 1rem;
    font-family: "sans-n", "sans";
    color: #6a7376;
    background-color: #e4e8eb80;
    font-weight: normal;
    padding: 0.5rem 0.8rem;
}

/*TODO LIST------------------------*/

/*Modified from Pixyll, a theme for Typora.*/
.md-task-list-item>input {
    -webkit-appearance: initial;
}

.md-task-list-item>input:before {
    border: 1px solid #37474F;
    border-radius: 0.95rem;
    width: 0.95rem;
    height: 0.95rem;
    background: #fff;
    content: ' ';
    transition: background-color 200ms ease-in-out;
    display: block;
    margin: -0.18rem auto auto auto;
}

.md-task-list-item>input:checked:before,
.md-task-list-item>input[checked]:before {
    background: #37474F;
    border-width: 2px;
    margin: -0.18rem auto auto auto;
    transition: background-color 200ms ease-in-out;
}

.md-task-list-item>input:checked:after,
.md-task-list-item>input[checked]:after {
    opacity: 1;
}

.md-task-list-item>input:after {
    opacity: 1;
    -webkit-transition: opacity 0.05s ease-in-out;
    -moz-transition: opacity 0.05s ease-in-out;
    transition: opacity 0.05s ease-in-out;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    left: 0.07rem;
    width: 0.9rem;
    height: 0.4rem;
    border: 3px solid #fff;
    border-top: 0;
    border-right: 0;
    content: ' ';
    opacity: 0;
}
